/* Banner Section Start */
header {
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
header nav .logo {
  display: flex;
  align-items: center;

  gap: 10px;
}
header nav .logo img {
  width: 100%;
  max-width: 80px;
  display: flex;
  align-items: center;

  gap: 10px;
}
.nav-menu {
  display: flex;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

header nav ul li a {
  color: #424247;
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav ul li a:hover {
  color: red;
}

.toggle-button {
  display: none;
  cursor: pointer;
}
.banner-section {
  height: 500px;
  background: linear-gradient(#131318, #13131800), url(../Images/Rectangle1.jpg);
  border-radius: 14.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.banner-heading {
  color: #fff;
  font-size: 54px;
  font-weight: 800;
}
.banner-p {
  max-width: 676px;
  text-align: center;
  color: #fff;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.banner-form {
  width: 100%;
}
.banner-form form {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);

  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.banner-form .banner-input {
  width: 24%;
  position: relative;
}
.banner-form .banner-input input,
select {
  /* width: 174px; */
  max-width: 175px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
}
.banner-form .banner-input input::placeholder,
select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
}
.banner-input input[type="submit"] {
  background-color: #ff5400;
  color: #fff;
  cursor: pointer;
}
.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* Banner Section End */

/* popular-tour start */

.popular-tour-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
   */
  max-height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}
.custom-li {
  margin-left: 24px;
  line-height: 26px;
}
.custom-li::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.tour-details {
  width: 100%;
  max-width: 577px;
}
.tour-image {
  max-width: 540px;
  width: 100%;
  height: 100%;
}
.tour-image img {
  height: 100%;
}
.popular-button button {
  margin-top: 14px;
}
/* popular-tour end */

/* Destinations Section Start */
.destinations-section {
}
.destinations-section .section-details,
.why-us-section .section-details {
  text-align: center;
  max-width: 643px;
  margin: 0 auto;
}
.destination-gallery-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 300px 286px 300px; */
  gap: 24px;
  margin-top: 48px;
}
.destination-item {
  position: relative;
  pointer-events: all;
}
.destination-item img {
  /* display: block; */
  /* position: relative; */
  width: 100%;
  height: 100%;
}
.destination-item::after {
  content: "";
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 24, 0.2) 100%;
}
.destination-name {
  color: #fff;
  font-size: 23px;
  font-weight: 800;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* .destination-item img {
  width: 100%;
  height: 100%;
} */

.destination-item-1 {
  grid-column: 1 / span 6;
  grid-row: 1;
}
.destination-item-2 {
  grid-column: 7 / span 6;
  grid-row: 1;
}
.destination-item-3 {
  grid-column: 1 / span 4;
  grid-row: 2;
}
.destination-item-4 {
  grid-column: 5 / span 5;
  grid-row: 2;
}
.destination-item-5 {
  grid-column: 10 / span 3;
  grid-row: 2;
}
.destination-item-6 {
  grid-column: 1 / span 5;
  grid-row: 3;
}
.destination-item-7 {
  grid-column: 6 / span 7;
  grid-row: 3;
}
/* Destinations Section End */

/* Why us Start */
.why-us-card-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  width: 47.8%;
  max-width: 573px;
  padding: 26px;
}
.card img {
  width: auto;
}
.card-header {
  margin-top: 32px;
  margin-bottom: 16px;
  color: var(--primary-black);
  font-size: 24px;
  font-weight: 800;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Why us End */
/* Deals Discount Start */
.deals-discounts-section {
}
.deals-discounts-section .section-details {
  text-align: center;
  margin-bottom: 40px;
}
.deals-discounts-section .holiday-item {
  margin-top: 24px;
  background-image: url("../Images/holiday-background-1.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 60px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.holiday-item-2 {
  justify-content: start;
  background-image: url("../Images/holiday-background-2.jpeg");
}
.holiday-item .holiday-details {
  padding: 40px;
  width: 60%;
  max-width: 579px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.holiday-item .holiday-details .holiday-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.holiday-item .holiday-details .holiday-icons .each-icon-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.holiday-item .holiday-details .holiday-icons .each-icon-box i {
  font-size: 16px;
  color: var(--orange);
}
.holiday-details .card-header {
  margin-top: 20px;
}
.holiday-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}
.book-now-button {
  padding: 10px 20px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  border: 1px solid #ff5400;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.book-now-button:hover {
  background: #fff;
  color: #ff5400;
}
/* Deals Discount End */

/* Simple-Perfect Start */
.simple-perfect-section .popular-tour-container {
  grid-template-columns: 0.45fr 0.55fr;
  max-height: 100%;
}
.simple-perfect-section .tour-image {
  max-width: 100%;
}
#videobandarban {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
/* Simple-Perfect End */

/* Testimonial Start */
.testimonial-section .section-details {
  text-align: center;
  max-width: 643px;
  margin: 0 auto;
}
.testimonials-box-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.testimonial-item {
  width: 32%;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.testimonial-item > * {
  margin-bottom: 16px;
}
.testimonial-img-box {
}
.testimonial-img-box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rating {
}
.rating i {
  color: #ff5400;
}
.t-desc {
}
.t-name {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.t-date {
  margin-bottom: 0;
}
.slider-buttons {
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
/* Testimonial End */

/* Newsletter Section Start */
.newsletter-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 0.43fr 0.57fr;
  align-items: center;
  gap: 24px;
}

.newsletter-form-box {
  width: 100%;
  padding: 20px 30px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  height: 100%;
}
.newsletter-form-box .card-header {
  margin: 0;
}
.newsletter-form-box .common-p {
  margin-top: 16px;
}
.newsletter-form hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(19, 19, 24, 0.1);
}
.input-field input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  color: var(--primary-black);
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  outline: none;
  border: none;
}
.input-field input::placeholder {
  color: rgba(19, 19, 24, 0.3);
}

.input-field input[type="submit"] {
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--orange);
  transition: 0.3s;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.input-field input[type="submit"]:hover {
  background-color: #fff;
  color: var(--orange);
}
.newsletter-image-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.large-image {
  height: 100%;
}
.large-image img {
  height: 100%;
}
.save-orange-alert {
  position: absolute;
  right: 10px;
  bottom: 55px;
  color: #fff;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.save-orange-alert p {
  color: #fff;
  font-size: 24px;
}
.save-orange-alert h3 {
  font-size: 32px;
  font-weight: 800;
}
/* Newsletter Section End */

/* Footer Start */
footer {
  margin-top: 100px;
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding: 110px 0;
}

.footer-container {
  max-width: 872px;
  margin: 0 auto;
}
.footer-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 13px;
}
.footer-container .logo img {
  width: 100%;
  max-width: 80px;
}
.footer-upper-p {
  margin-top: 24px;
  margin-bottom: 32px;
}
.social-icons-container {
}
.social-icons-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.social-icons-container ul li {
}
.social-icons-container ul li a {
  color: var(--primary-black);
}
.social-icons-container ul li a:visited {
  color: var(--primary-black);
}
.social-icons-container ul li a i {
  font-size: 24px;
  color: var(--primary-black);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.social-icons-container ul li a i:hover {
  color: var(--orange);
  transform: scale(1.5) rotate(360deg);
  -webkit-transform: scale(1.5) rotate(360deg);
  -moz-transform: scale(1.5) rotate(360deg);
  -ms-transform: scale(1.5) rotate(360deg);
  -o-transform: scale(1.5) rotate(360deg);
}
footer hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.copyright a {
  color: #ff5400;
}
.copyright a:visited {
  color: #ff5400;
}
/* Footer End */
